<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="static/vue-dev.js"></script>
    <title>CodeBox - From GoLang to CodeQL</title>
    <style type="text/css">
    .func-type,
    .method-type,
    .intmet-type {
        white-space: nowrap !important;
        float: none !important;
    }

    .selected-inp {
        color: blue;
        font-weight: bold;
    }

    .selected-outp {
        border-radius: 3px;
        background: red;
    }

    input[type=radio] {
        width: 30px;
        height: 30px;
    }

    input[type=checkbox] {
        width: 30px;
        height: 30px;
    }

    code {
        white-space: pre-wrap;
        font-size: 12px;
    }

    .com {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 15px;
        line-height: 1.42857143;
        white-space: pre;
        word-break: normal;
        box-sizing: border-box;
        color: #006600;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        height: 26px;
        content: "✕";
        width: 26px;
        font-size: 29px;
        line-height: 29px;
        left: 4px;
        bottom: 4px;
        text-align: center;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        content: "✓";
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .isNotUsed>* {
        color: #bdc3c7 !important;
        background-color: #ecf0f1 !important;
        border-color: #ecf0f1 !important;
    }

    .hidden {
        display: none;
    }

    .codebox-source,
    .codebox-generated {
        margin-top: 10px;
        padding: 20px;
        border: 1px solid;
        -moz-outline-radius: 10px;
        -webkit-outline-radius: 10px;
    }

    .codebox-block {
        margin: 5px;
        padding: 15px;
        border: 1px solid;
        -moz-outline-radius: 10px;
        -webkit-outline-radius: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .block-bg-func {
        background-color: rgba(40, 167, 69, .03);
    }

    .block-bg-typeMethod {
        background-color: rgba(0, 123, 255, .03);
    }

    .block-bg-interfaceMethod {
        background-color: rgba(255, 193, 7, .03);
    }

    .copy-btn {
        width: 60px;
        height: 34px;
        font-size: 14px;
        padding: 0px;
    }

    .content-checkbox {
        display: grid;
        justify-content: center;
    }

    .move-left {
        width: auto;
        box-shadow: none;
    }

    .type-indication {
        position: absolute;
        right: 23px;
        top: 1em;
        font-weight: bolder;
        font-style: initial;
        font-size: 0.7em;
    }

    .table-sm td,
    .table-sm th {
        padding-left: 1px;
        padding-right: 1px;
        padding-top: .3rem;
        padding-bottom: .3em;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    </style>
</head>

<body>
    <div class="container-fluid" id="cb-source">
        <!-- Content here -->
        <h4>Package "{{source.PkgName}}" from <b>{{source.PkgPath}}</b></h4>
        <!-- functions -->
        <div v-for="func in source.Funcs" class="row">
            <div class="col-md-7" v-bind:class="{ isNotUsed: !func.CodeQL.IsEnabled }">
                <div class="codebox-source border-success">
                    <div class="type-indication text-success">FUNCTION</div>
                    <!-- Rectangular switch -->
                    <label class="switch" title="Click to enable/disable">
                        <input type="checkbox" v-model="func.CodeQL.IsEnabled" @change="onChangeIsEnabled($event, func.Signature)">
                        <span class="slider bg-success"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !func.CodeQL.IsEnabled }" @click.stop.prevent="copyTestingCode($event)" :for="cc('code',func.ID)">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in func.Docs">// {{ comment }}</div>
                        </span>
                        <template v-for="(block, blockIndex) in func.CodeQL.Blocks">
                            <div class="codebox-block border-success block-bg-func">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                                    <defs>
                                        <marker :id="cc('arrowhead',func.ID,'block',blockIndex)" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                                            <path d="M 0 0 L 10 5 L 0 10 z" />
                                        </marker>
                                    </defs>
                                    <g fill="none" stroke="black" stroke-width="2" :marker-end="'url(#'+cc('arrowhead',func.ID,'block',blockIndex)+')'" :id="cc(func.ID,'block',blockIndex,'arrows')">
                                    </g>
                                </svg>
                                <table class="table-responsive table-sm">
                                    <tbody>
                                        <tr :id="cc(func.ID,'block',blockIndex)">
                                            <td><b>func {{ func.Name }}</b>{{func.Parameters == null ? "( )" : "(" }}</td>
                                            <td v-for="(funParameter, index) in func.Parameters" :id="cc(func.ID,'block',blockIndex,'bl',index)" class="func-type" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, index, func), 'selected-outp': isCheckedOutp(blockIndex, index, func) }">
                                                <span :title="funParameter.KindString" data-toggle="tooltip">
                                                    {{funParameter.VarName + " "}}<b>{{funParameter.TypeString}}</b>
                                                    {{index < func.Parameters.length - 1 ? ", " : "" }}{{index==func.Parameters.length - 1 ?")":""}}
                                                </span>
                                            </td>
                                            <td v-for="(funResult, index) in func.Results" :id="cc(func.ID,'block',blockIndex,'bl', index + len(func.Parameters))" class="func-type" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, index+len(func.Parameters), func), 'selected-outp': isCheckedOutp(blockIndex, index+len(func.Parameters), func) }">
                                                <span :title="funResult.KindString" data-toggle="tooltip">
                                                    {{index == 0 ? "(" : "" }}{{funResult.VarName + " "}}<b>{{funResult.TypeString}}</b>
                                                    {{index < func.Results.length - 1 ? ", " : "" }}{{index==func.Results.length - 1 ? ")" : "" }}
                                                </span>
                                            </td>
                                        </tr>
                                        <!--checkboxes for inp -->
                                        <tr>
                                            <td>FROM:</td>
                                            <td v-for="(blockElemVal, index) in block.Inp" class="func-type">
                                                <div class="form-check form-check-inline col">
                                                    <input class="form-check-input" type="checkbox" :name="cc('checkbox',func.ID,'inp')" @change="onChangeBlock($event, blockIndex, func)" :disabled="!func.CodeQL.IsEnabled" v-model="block.Inp[index]">
                                                </div>
                                            </td>
                                        </tr>
                                        <!--checkboxes for outp -->
                                        <tr>
                                            <td>INTO:</td>
                                            <td v-for="(blockElemVal, index) in block.Outp" class="func-type">
                                                <div class="form-check form-check-inline col">
                                                    <input class="form-check-input" type="checkbox" :name="cc('checkbox',func.ID,'outp')" @change="onChangeBlock($event, blockIndex, func)" :disabled="!func.CodeQL.IsEnabled" v-model="block.Outp[index]">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div class="text-center">
                                    <button type="button" v-if="blockIndex == func.CodeQL.Blocks.length - 1" class="btn btn-outline-dark btn-sm" @click="addBlock(func)" :disabled="!func.CodeQL.IsEnabled" title="Add another block with different flow conditions">Add "OR"</button>
                                    <button type="button" v-if="func.CodeQL.Blocks.length > 1" class="btn btn-danger btn-sm" @click="removeBlock(blockIndex, func)" :disabled="!func.CodeQL.IsEnabled"> Remove block </button>
                                </div>
                            </div>
                            <div class="text-center" v-if="func.CodeQL.Blocks.length > 0 && blockIndex != func.CodeQL.Blocks.length - 1">
                                <span><b>OR</b></span>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="codebox-generated border-success" v-bind:class="{ hidden: !func.CodeQL.IsEnabled }">
                    <div class="type-indication text-success">CODEQL PREVIEW</div>
                    <code :id="cc('code',func.ID)">
                        {{ func.CodeQL.GeneratedClass }}
                    </code>
                </div>
            </div>
        </div>
        <!-- methods on types -->
        <div v-for="method in source.TypeMethods" class="row">
            <div class="col-md-7" v-bind:class="{ isNotUsed: !method.CodeQL.IsEnabled }">
                <div class="codebox-source border-primary">
                    <div class="type-indication text-primary">METHOD</div>
                    <!-- Rectangular switch -->
                    <label class="switch" title="Click to enable/disable">
                        <input type="checkbox" v-model="method.CodeQL.IsEnabled" @change="onChangeIsEnabled($event, method.Func.Signature)">
                        <span class="slider bg-primary"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !method.CodeQL.IsEnabled }" @click.stop.prevent="copyTestingCode($event)" :for="cc('code',method.ID)">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in method.Docs">// {{ comment }}</div>
                        </span>
                        <template v-for="(block, blockIndex) in method.CodeQL.Blocks">
                            <div class="codebox-block border-primary block-bg-typeMethod">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                                    <defs>
                                        <marker :id="cc('arrowhead',method.ID,'block',blockIndex)" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                                            <path d="M 0 0 L 10 5 L 0 10 z" />
                                        </marker>
                                    </defs>
                                    <g fill="none" stroke="black" stroke-width="2" :marker-end="'url(#'+cc('arrowhead',method.ID,'block',blockIndex)+')'" :id="cc(method.ID,'block',blockIndex,'arrows')">
                                    </g>
                                </svg>
                                <table class="table-responsive table-sm">
                                    <tbody>
                                        <tr :id="cc(method.ID,'block',blockIndex)">
                                            <td></td>
                                            <td class="method-type" :id="cc(method.ID,'block',blockIndex,'bl',0)" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, 0, method), 'selected-outp': isCheckedOutp(blockIndex, 0, method) }">
                                                <span :title="method.Receiver.KindString" data-toggle="tooltip">
                                                    ({{method.IsOnPtr?"*":""}}{{method.Receiver.TypeName}})
                                                </span>
                                            </td>
                                            <td>func <b>{{ method.Func.Name }}</b>{{method.Func.Parameters == null ? "( )" : "(" }}</td>
                                            <td v-for="(funParameter, index) in method.Func.Parameters" :id="cc(method.ID,'block',blockIndex,'bl',index+1)" class="method-type" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, index+1, method), 'selected-outp': isCheckedOutp(blockIndex, index+1, method) }">
                                                <span :title="funParameter.KindString" data-toggle="tooltip">
                                                    {{funParameter.VarName + " "}}<b>{{funParameter.TypeString}}</b>
                                                    {{index < method.Func.Parameters.length - 1 ? ", " : "" }}{{index==method.Func.Parameters.length - 1 ?")":""}}
                                                </span>
                                            </td>
                                            <td v-for="(funResult, index) in method.Func.Results" :id="cc(method.ID,'block',blockIndex,'bl',index+1+len(method.Func.Parameters))" class="method-type" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, index+1+len(method.Func.Parameters), method), 'selected-outp': isCheckedOutp(blockIndex, index+1+len(method.Func.Parameters), method) }">
                                                <span :title="funResult.KindString" data-toggle="tooltip">
                                                    {{index == 0 ? "(" : "" }}{{funResult.VarName + " "}}<b>{{funResult.TypeString}}</b>
                                                    {{index < method.Func.Results.length - 1 ? ", " : "" }}</td>
                                                </span>
                                            <td>)</td>
                                        </tr>
                                        <!--checkboxes for inp -->
                                        <tr>
                                            <td>FROM:</td>
                                            <template v-for="(blockElemVal, index) in block.Inp">
                                                <template v-if="index == 1 ">
                                                    </td>
                                                    <td>
                                                </template>
                                                <td class="method-type">
                                                    <div class="form-check form-check-inline col">
                                                        <input class="form-check-input" type="checkbox" :name="cc('checkbox',method.ID,'inp')" @change="onChangeBlock($event, blockIndex, method)" :disabled="!method.CodeQL.IsEnabled" v-model="block.Inp[index]">
                                                    </div>
                                                </td>
                                            </template>
                                        </tr>
                                        <!--checkboxes for outp -->
                                        <tr>
                                            <td>INTO:</td>
                                            <template v-for="(blockElemVal, index) in block.Outp">
                                                <template v-if="index == 1 ">
                                                    </td>
                                                    <td>
                                                </template>
                                                <td class="method-type">
                                                    <div class="form-check form-check-inline col">
                                                        <input class="form-check-input" type="checkbox" :name="cc('checkbox',method.ID,'outp')" @change="onChangeBlock($event, blockIndex, method)" :disabled="!method.CodeQL.IsEnabled" v-model="block.Outp[index]">
                                                    </div>
                                                </td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div class="text-center">
                                    <button type="button" v-if="blockIndex == method.CodeQL.Blocks.length - 1" class="btn btn-outline-dark btn-sm" @click="addBlock(method)" :disabled="!method.CodeQL.IsEnabled" title="Add another block with different flow conditions">Add "OR"</button>
                                    <button type="button" v-if="method.CodeQL.Blocks.length > 1" class="btn btn-danger btn-sm" @click="removeBlock(blockIndex, method)" :disabled="!method.CodeQL.IsEnabled"> Remove block </button>
                                </div>
                            </div>
                                <div class="text-center" v-if="method.CodeQL.Blocks.length > 0 && blockIndex != method.CodeQL.Blocks.length - 1">
                                    <span><b>OR</b></span>
                                </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="codebox-generated border-primary" v-bind:class="{ hidden: !method.CodeQL.IsEnabled }">
                    <div class="type-indication text-primary">CODEQL PREVIEW</div>
                    <code :id="cc('code',method.ID)">
                        {{ method.CodeQL.GeneratedClass }}
                    </code>
                </div>
            </div>
        </div>
        <!-- methods on interfaces -->
        <div v-for="itMeth in source.InterfaceMethods" class="row">
            <div class="col-md-7" v-bind:class="{ isNotUsed: !itMeth.CodeQL.IsEnabled }">
                <div class="codebox-source border-warning">
                    <div class="type-indication text-warning">INTERFACE</div>
                    <!-- Rectangular switch -->
                    <label class="switch" title="Click to enable/disable">
                        <input type="checkbox" v-model="itMeth.CodeQL.IsEnabled" @change="onChangeIsEnabled($event, itMeth.Func.Signature)">
                        <span class="slider bg-warning"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !itMeth.CodeQL.IsEnabled }" @click.stop.prevent="copyTestingCode($event)" :for="cc('code',itMeth.ID)">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in itMeth.Docs">// {{ comment }}</div>
                        </span>
                        <template v-for="(block, blockIndex) in itMeth.CodeQL.Blocks">
                            <div class="codebox-block border-warning block-bg-interfaceMethod">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                                    <defs>
                                        <marker :id="cc('arrowhead',itMeth.ID,'block',blockIndex)" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                                            <path d="M 0 0 L 10 5 L 0 10 z" />
                                        </marker>
                                    </defs>
                                    <g fill="none" stroke="black" stroke-width="2" :marker-end="'url(#'+cc('arrowhead',itMeth.ID,'block',blockIndex)+')'" :id="cc(itMeth.ID,'block',blockIndex,'arrows')">
                                    </g>
                                </svg>
                                <table class="table-responsive table-sm">
                                    <tbody>
                                        <tr :id="cc(itMeth.ID,'block',blockIndex)">
                                            <td></td>
                                            <td class="intmet-type" :id="cc(itMeth.ID,'block',blockIndex,'bl',0)" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, 0, itMeth), 'selected-outp': isCheckedOutp(blockIndex, 0, itMeth) }">
                                                <span :title="itMeth.Receiver.KindString" data-toggle="tooltip">
                                                    (<b>{{itMeth.Receiver.TypeName}}</b>)
                                                </span>
                                            </td>
                                            <td>func <b>{{ itMeth.Func.Name }}</b>{{itMeth.Func.Parameters == null ? "( )" : "(" }}</td>
                                            <td v-for="(funParameter, index) in itMeth.Func.Parameters" :id="cc(itMeth.ID,'block',blockIndex,'bl',index+1)" class="intmet-type" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, index+1, itMeth), 'selected-outp': isCheckedOutp(blockIndex, index+1, itMeth) }">
                                                <span :title="funParameter.KindString" data-toggle="tooltip">
                                                    {{funParameter.VarName + " "}}<b>{{funParameter.TypeString}}</b>
                                                    {{index < itMeth.Func.Parameters.length - 1 ? ", " : "" }}{{index==itMeth.Func.Parameters.length - 1 ?")":""}}
                                                </span>
                                            </td>
                                            <td v-for="(funResult, index) in itMeth.Func.Results" :id="cc(itMeth.ID,'block',blockIndex,'bl',index+1+len(itMeth.Func.Parameters))" class="intmet-type" v-bind:class="{ 'selected-inp': isCheckedInp(blockIndex, index+1+len(itMeth.Func.Parameters), itMeth), 'selected-outp': isCheckedOutp(blockIndex, index+1+len(itMeth.Func.Parameters), itMeth) }">
                                                <span :title="funResult.KindString" data-toggle="tooltip">
                                                    {{index == 0 ? "(" : "" }}{{funResult.VarName + " "}}<b>{{funResult.TypeString}}</b>
                                                    {{index < itMeth.Func.Results.length - 1 ? ", " : "" }}
                                                </span>
                                            </td>
                                            <td>)</td>
                                        </tr>
                                        <!--checkboxes for inp -->
                                        <tr>
                                            <td>FROM:</td>
                                            <template v-for="(blockElemVal, index) in block.Inp">
                                                <template v-if="index == 1 ">
                                                    </td>
                                                    <td>
                                                </template>
                                                <td class="intmet-type">
                                                    <div class="form-check form-check-inline col">
                                                        <input class="form-check-input" type="checkbox" :name="cc('checkbox',itMeth.ID,'inp')" @change="onChangeBlock($event, blockIndex, itMeth)" :disabled="!itMeth.CodeQL.IsEnabled" v-model="block.Inp[index]">
                                                    </div>
                                                </td>
                                            </template>
                                        </tr>
                                        <!--checkboxes for outp -->
                                        <tr>
                                            <td>INTO:</td>
                                            <template v-for="(blockElemVal, index) in block.Outp">
                                                <template v-if="index == 1 ">
                                                    </td>
                                                    <td>
                                                </template>
                                                <td class="intmet-type">
                                                    <div class="form-check form-check-inline col">
                                                        <input class="form-check-input" type="checkbox" :name="cc('checkbox',itMeth.ID,'outp')" @change="onChangeBlock($event, blockIndex, itMeth)" :disabled="!itMeth.CodeQL.IsEnabled" v-model="block.Outp[index]">
                                                    </div>
                                                </td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div class="text-center">
                                    <button type="button" v-if="blockIndex == itMeth.CodeQL.Blocks.length - 1" class="btn btn-outline-dark btn-sm" @click="addBlock(itMeth)" :disabled="!itMeth.CodeQL.IsEnabled" title="Add another block with different flow conditions">Add "OR"</button>
                                    <button type="button" v-if="itMeth.CodeQL.Blocks.length > 1" class="btn btn-danger btn-sm" @click="removeBlock(blockIndex, itMeth)" :disabled="!itMeth.CodeQL.IsEnabled"> Remove block </button>
                                </div>
                            </div>
                                <div class="text-center" v-if="itMeth.CodeQL.Blocks.length > 0 && blockIndex != itMeth.CodeQL.Blocks.length - 1">
                                    <span><b>OR</b></span>
                                </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="codebox-generated border-warning" v-bind:class="{ hidden: !itMeth.CodeQL.IsEnabled }">
                    <div class="type-indication text-warning">CODEQL PREVIEW</div>
                    <code :id="cc('code',itMeth.ID)">
                        {{ itMeth.CodeQL.GeneratedClass }}
                    </code>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function cc(...elems) {
        return elems.join("-")
    }

    function newEdge(parentID, id) {
        let path = document.createElementNS("http://www.w3.org/2000/svg", "path");
        path.setAttribute("id", id);
        let parentNode = document.getElementById(parentID);
        if (parentNode == null) {
            console.log(parentID, "does not exist");
            return
        }
        parentNode.appendChild(path)
    }

    function remChildren(parentID) {
        const parentNode = document.getElementById(parentID);
        if (parentNode == null) {
            console.log(parentID, "does not exist");
            return
        }
        while (parentNode.lastElementChild) {
            parentNode.removeChild(parentNode.lastElementChild);
        }
    }

    function drawAnArrow(idFrom, idInto, idArrowLeft, idArrowRight) {
        console.log(idFrom, idInto, idArrowLeft, idArrowRight);

        if (idFrom == "" || idInto == "") {
            return
        }
        var divFrom = document.getElementById(idFrom);
        var divInto = document.getElementById(idInto);
        var arrowLeft = document.getElementById(idArrowLeft);
        var arrowRight = document.getElementById(idArrowRight);

        if (divFrom == null || divInto == null) {
            return
        }
        let rectFrom = divFrom.getBoundingClientRect();
        let rectInto = divInto.getBoundingClientRect();

        var drawConnector = function() {
            var posnALeft = {
                x: divFrom.offsetLeft - 8,
                y: divFrom.offsetTop + divFrom.offsetHeight / 2
            };
            var posnBLeft = {
                x: divInto.offsetLeft - 8,
                y: divInto.offsetTop + divInto.offsetHeight / 2
            };

            console.log(posnALeft);
            console.log(posnBLeft);

            var posnFrom = {
                x: rectFrom.right - rectFrom.width / 2,
                y: rectFrom.bottom - rectFrom.height
            };
            var posnInto = {
                x: rectInto.right - rectInto.width / 2,
                y: rectInto.bottom - rectInto.height
            };
            console.log(posnFrom);
            console.log(posnInto);

            let horizOffset = 0;
            if (divInto.offsetLeft > divFrom.offsetLeft) {
                horizOffset = divInto.offsetLeft - divFrom.offsetLeft
            } else {
                horizOffset = divFrom.offsetLeft - divInto.offsetLeft
            }

            horizOffset = horizOffset + rectFrom.width + rectInto.width

            var dStrLeft =
                "M" +
                (divFrom.offsetLeft + rectFrom.width / 2) + "," + (divInto.offsetParent.offsetHeight + 7) + " " +
                "C " +
                (posnALeft.x + rectInto.width / 2) + "," + (divInto.offsetParent.offsetHeight + 7) + " " +
                (Math.abs(horizOffset)) + "," + (divFrom.offsetParent.offsetHeight - 60) + " " +
                (divInto.offsetLeft + rectInto.width / 2) + "," + (divInto.offsetParent.offsetHeight) + " "
            arrowLeft.setAttribute("d", dStrLeft);
        };

        drawConnector();
    }


    function selectText(containerid) {
        if (document.selection) { // IE
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
        }
    }
    var srcapp = new Vue({
        el: '#cb-source',
        data: {
            source: null
        },
        created() {
            self = this;
            fetch('/api/source')
                .then(response => response.json())
                .then(json => {
                    this.source = json;
                    document.title = "Package \""+json.PkgPath+"\"";
                })
        },
        updated() {
            // Draw arrows:
            let self = this;
            this.$data.source.Funcs.forEach(function(element, elementIndex) {
                element.CodeQL.Blocks.forEach(function(block, blockIndex) {
                    self.drawAllArrows(blockIndex, element)
                });
            });
            this.$data.source.TypeMethods.forEach(function(element, elementIndex) {
                element.CodeQL.Blocks.forEach(function(block, blockIndex) {
                    self.drawAllArrows(blockIndex, element)
                });
            });
            this.$data.source.InterfaceMethods.forEach(function(element, elementIndex) {
                element.CodeQL.Blocks.forEach(function(block, blockIndex) {
                    self.drawAllArrows(blockIndex, element)
                });
            });
            (function ($) {
              $(document).ready(function () {
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
              });
            })(jQuery);
        },
        methods: {
            drawAllArrows: function(blockIndex, fn) {
                // Remove any existing arrows:
                let parentID = cc(fn.ID, "block", blockIndex, 'arrows');
                remChildren(parentID);

                let block = fn.CodeQL.Blocks[blockIndex];
                block.Inp.forEach(function(itemInp, indexInp) {

                    block.Outp.forEach(function(itemOutp, indexOutp) {
                        if (!itemInp || !itemOutp) {
                            return
                        }
                        console.log(itemOutp, indexOutp);
                        console.log(itemInp, indexInp);

                        let leftArrowID = cc(fn.ID, "block", blockIndex, "arrow", "left", "from", indexInp, "to", indexOutp);
                        let rigthArrowID = cc(fn.ID, "block", blockIndex, "arrow", "right", "from", indexInp, "to", indexOutp);
                        newEdge(parentID, leftArrowID);
                        newEdge(parentID, rigthArrowID);

                        let idFrom = cc(fn.ID, "block", blockIndex, "bl", indexInp)
                        let idInto = cc(fn.ID, "block", blockIndex, "bl", indexOutp)

                        drawAnArrow(idFrom, idInto, leftArrowID, rigthArrowID);

                    });
                });
            },
            cc: function(...elems) {
                return elems.join("-")
            },
            len: function(elem) {
                if (elem == null) { return 0 }
                return elem.length
            },
            isCheckedInp: function(blockIndex, inpIndex, func) {
                return func.CodeQL.Blocks[blockIndex].Inp[inpIndex] == true
            },
            isCheckedOutp: function(blockIndex, outpIndex, func) {
                return func.CodeQL.Blocks[blockIndex].Outp[outpIndex] == true
            },
            copyTestingCode(event) {
                var radioButton = event.target;
                var targetIDInView = radioButton.getAttribute("for");

                selectText(targetIDInView)

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Testing code was copied ' + msg);
                } catch (err) {
                    alert('Oops, unable to copy');
                }

            },
            onChangeIsEnabled(event, signature) {
                var checkbox = event.target;

                console.log(checkbox.checked);
                console.log(signature);

                let payload = {
                    "Signature": signature,
                    "Enabled": checkbox.checked,
                }
                console.log(payload);

                fetch('/api/disable', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(payload),
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            },
            marshal(obj) {
                return JSON.stringify(obj)
            },
            onChangeBlock(event, blockIndex, fn) {
                // Draw arrow:
                this.drawAllArrows(blockIndex, fn);
                this.saveBlocks(blockIndex, fn);
            },
            saveBlocks(blockIndex, fn) {
                {
                    let signature = fn.Signature || fn.Func.Signature;

                    let payload = {
                        "Blocks": fn.CodeQL.Blocks,
                        "Signature": signature,
                        "Pointers": fn.CodeQL.Pointers,
                    }
                    console.log(payload);
                    fetch('/api/pointers', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(payload),
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        })
                        .then(response => response.json())
                        .then((data) => {
                            fn.CodeQL.GeneratedClass = data.GeneratedClass;
                        });;
                }
            },
            addBlock(fn) {
                let width = this.len(fn.CodeQL.Blocks[0].Inp);
                fn.CodeQL.Blocks.push({ Inp: this.newBoolArray(width), Outp: this.newBoolArray(width) });
            },
            removeBlock(blockIndex, fn) {
                fn.CodeQL.Blocks.splice(blockIndex, 1);
                this.saveBlocks(blockIndex, fn);
            },
            newBoolArray(len) {
                return new Array(len).fill(false);
            },
        }
    })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>