<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="static/vue-dev.js"></script>
    <title>CodeBox - From GoLang to CodeQL</title>
    <style type="text/css">
    .func-type, .method-type, .intmet-type {
        white-space: nowrap !important;
        float: none !important;
    }

    .selected-inp {
        color: blue;
        font-weight: bold;
    }

    .selected-outp {
        border-radius: 3px;
        background: red;
    }

    input[type=radio] {
        width: 30px;
        height: 30px;
    }
    input[type=checkbox] {
        width: 30px;
        height: 30px;
    }

    code {
        white-space: pre-wrap;
        font-size: 12px;
    }

    .com {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 15px;
        line-height: 1.42857143;
        white-space: pre;
        word-break: normal;
        box-sizing: border-box;
        color: #006600;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .isNotUsed > * {
        color: #bdc3c7 !important;
        background-color: #ecf0f1 !important;
        border-color: #ecf0f1 !important;
    }

    .hidden {
        display: none;
    }

    .codebox-source,
    .codebox-generated {
        margin-top: 10px;
        padding: 20px;
        border: 1px solid;
        -moz-outline-radius: 10px;
        -webkit-outline-radius: 10px;
    }

    .copy-btn {
        width: 60px;
        height: 34px;
        font-size: 14px;
        padding: 0px;
    }

    .content-checkbox {
        display: grid;
        justify-content: center;
    }

    .move-left {
        width: auto;
        box-shadow: none;
    }

    .type-indication {
        position: absolute;
        right: 23px;
        top: 1em;
        font-weight: bolder;
        font-style: initial;
        font-size: 0.7em;
    }
    .table-sm td, .table-sm th {
        padding-left: 1px;
        padding-right: 1px;
        padding-top: .3rem;
        padding-bottom: .3em;
    }
    </style>
</head>

<body>
    <div class="container-fluid" id="cb-source">
        <!-- Content here -->
        <h4>Package "{{source.PkgName}}" from <b>{{source.PkgPath}}</b></h4>

        <!-- functions -->
        <div v-for="func in source.Funcs" class="row">
            <div class="col-md-6" v-bind:class="{ isNotUsed: !func.CodeQL.IsEnabled }">
                <div class="codebox-source border-success">
                    <div class="type-indication text-success">FUNCTION</div>
                    <!-- Rectangular switch -->
                    <label class="switch">
                        <input type="checkbox" v-model="func.CodeQL.IsEnabled" @change="onChangeIsEnabled($event, func.Signature)">
                        <span class="slider bg-success"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !func.CodeQL.IsEnabled }" @click.stop.prevent="copyTestingCode($event)" :for="cc('code',func.ID)">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in func.Docs">// {{ comment }}</div>
                        </span>
                        <table class="table-responsive table-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                              <defs>
                                <marker :id="cc('arrowhead',func.ID)" viewBox="0 0 10 10" refX="3" refY="5"
                                    markerWidth="6" markerHeight="6" orient="auto">
                                  <path d="M 0 0 L 10 5 L 0 10 z" />
                                </marker>
                              </defs>
                              <g fill="none" stroke="black" stroke-width="2" :marker-end="'url(#arrowhead-'+func.ID+')'" :id="cc(func.ID,'arrows')">
                              </g>
                            </svg>
                            <tbody>
                                <tr :id="cc(func.ID)">
                                    <th scope="row">func {{ func.Name }}(</th>
                                    <td v-for="(funParameter, index) in func.Parameters" :id="cc(func.ID,'bl',index)" class="func-type" v-bind:class="{ 'selected-inp': isCheckedInp(index, func), 'selected-outp': isCheckedOutp(index, func) }">
                                        {{funParameter.VarName + " "}}<b>{{funParameter.TypeString}}</b>
                                        {{index < func.Parameters.length - 1 ? ", " : "" }}{{index == func.Parameters.length - 1 ?")":""}}</td>
                                    <td v-for="(funResult, index) in func.Results" :id="cc(func.ID,'bl', index + len(func.Parameters))" class="func-type" v-bind:class="{ 'selected-inp': isCheckedInp(index+len(func.Parameters), func), 'selected-outp': isCheckedOutp(index+len(func.Parameters), func) }">
                                        {{index == 0 ? "(" : "" }}{{funResult.VarName + " "}}<b>{{funResult.TypeString}}</b>
                                        {{index < func.Results.length - 1 ? ", " : "" }}{{index == func.Results.length - 1 ? ")" : "" }}
                                    </td> 
                                </tr>
                                <!--checkboxes for inp -->
                                <tr>
                                    <td>FROM:</td>
                                    <td v-for="(blockElemVal, index) in func.CodeQL.Blocks[0].Inp" class="func-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="checkbox" :name="cc('checkbox',func.ID,'inp')" @change="onChangeBlock($event, func)" :disabled="!func.CodeQL.IsEnabled" v-model="func.CodeQL.Blocks[0].Inp[index]">
                                        </div>
                                    </td>
                                </tr>
                                <!--checkboxes for outp -->
                                <tr>
                                    <td>INTO:</td>
                                    <td v-for="(blockElemVal, index) in func.CodeQL.Blocks[0].Outp" class="func-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="checkbox" :name="cc('checkbox',func.ID,'outp')" @change="onChangeBlock($event, func)" :disabled="!func.CodeQL.IsEnabled" v-model="func.CodeQL.Blocks[0].Outp[index]">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="codebox-generated border-success" v-bind:class="{ hidden: !func.CodeQL.IsEnabled }">
                    <code :id="cc('code',func.ID)">
                        private class {{ func.ClassName }} extends TaintTracking::FunctionModel {
                          // signature: {{func.Signature}}
                          {{ func.ClassName }}() { hasQualifiedName("{{ source.PkgPath }}", "{{ func.Name }}") }

                          override predicate hasTaintFlow(FunctionInput inp, FunctionOutput outp) {
                            inp.{{ func.CodeQL.Pointers.Inp.Placeholder }} and outp.{{ func.CodeQL.Pointers.Outp.Placeholder }}
                          }
                        }
                    </code>
                </div>
            </div>
        </div>
        <!-- methods on types -->
        <div v-for="method in source.TypeMethods" class="row">
            <div class="col-md-6" v-bind:class="{ isNotUsed: !method.CodeQL.IsEnabled }">
                <div class="codebox-source border-primary">
                    <div class="type-indication text-primary">METHOD</div>
                    <!-- Rectangular switch -->
                    <label class="switch">
                        <input type="checkbox" v-model="method.CodeQL.IsEnabled" @change="onChangeIsEnabled($event, method.Func.Signature)">
                        <span class="slider bg-primary"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !method.CodeQL.IsEnabled }" @click.stop.prevent="copyTestingCode($event)" :for="cc('code',method.ID)">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in method.Docs">// {{ comment }}</div>
                        </span>
                        <table class="table-responsive table-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                              <defs>
                                <marker :id="cc('arrowhead',method.ID)" viewBox="0 0 10 10" refX="3" refY="5"
                                    markerWidth="6" markerHeight="6" orient="auto">
                                  <path d="M 0 0 L 10 5 L 0 10 z" />
                                </marker>
                              </defs>
                              <g fill="none" stroke="black" stroke-width="2" :marker-end="'url(#arrowhead-'+method.ID+')'" :id="cc(method.ID,'arrows')">
                              </g>
                            </svg>
                            <tbody>
                                <tr :id="cc(method.ID)">
                                    <td></td>
                                    <td class="method-type" :id="cc(method.ID,'bl',0)" v-bind:class="{ 'selected-inp': isCheckedInp(0, method), 'selected-outp': isCheckedOutp(0, method) }">
                                        ({{method.IsOnPtr?"*":""}}{{method.Receiver.TypeName}})
                                    </td>
                                    <td>func <b>{{ method.Func.Name }}</b>{{method.Func.Parameters == null ? "( )" : "(" }}</td>
                                    <td v-for="(funParameter, index) in method.Func.Parameters" :id="cc(method.ID,'bl',index+1)" class="method-type" v-bind:class="{ 'selected-inp': isCheckedInp(index+1, method), 'selected-outp': isCheckedOutp(index+1, method) }">
                                        {{funParameter.VarName + " "}}<b>{{funParameter.TypeString}}</b>
                                        {{index < method.Func.Parameters.length - 1 ? ", " : "" }}{{index == method.Func.Parameters.length - 1 ?")":""}}</td>
                                    <td v-for="(funResult, index) in method.Func.Results" :id="cc(method.ID,'bl',index+1+len(method.Func.Parameters))" class="method-type" v-bind:class="{ 'selected-inp': isCheckedInp(index+1+len(method.Func.Parameters), method), 'selected-outp': isCheckedOutp(index+1+len(method.Func.Parameters), method) }">
                                        {{index == 0 ? "(" : "" }}{{funResult.VarName + " "}}<b>{{funResult.TypeString}}</b>
                                        {{index < method.Func.Results.length - 1 ? ", " : "" }}</td>
                                    <td>)</td>
                                </tr>
                                <!--checkboxes for inp -->
                                <tr>
                                    <td>FROM:</td>
                                    <template v-for="(blockElemVal, index) in method.CodeQL.Blocks[0].Inp">
                                        <template v-if="index == 1 ">
                                            </td><td>
                                        </template>
                                        <td class="method-type">
                                            <div class="form-check form-check-inline col">
                                                <input class="form-check-input" type="checkbox" :name="cc('checkbox',method.ID,'inp')" @change="onChangeBlock($event, method)" :disabled="!method.CodeQL.IsEnabled" v-model="method.CodeQL.Blocks[0].Inp[index]">
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                                <!--checkboxes for outp -->
                                <tr>
                                    <td>INTO:</td>
                                    <template v-for="(blockElemVal, index) in method.CodeQL.Blocks[0].Outp">
                                        <template v-if="index == 1 ">
                                            </td><td>
                                        </template>
                                        <td class="method-type">
                                            <div class="form-check form-check-inline col">
                                                <input class="form-check-input" type="checkbox" :name="cc('checkbox',method.ID,'outp')" @change="onChangeBlock($event, method)" :disabled="!method.CodeQL.IsEnabled" v-model="method.CodeQL.Blocks[0].Outp[index]">
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="codebox-generated border-primary" v-bind:class="{ hidden: !method.CodeQL.IsEnabled }">
                    <code :id="cc('code',method.ID)">
                        private class {{ method.ClassName }} extends TaintTracking::FunctionModel, Method {
                          // signature: {{method.Func.Signature}}
                          {{ method.ClassName }}() { this.(Method).hasQualifiedName("{{ source.PkgPath }}", "{{ method.Receiver.TypeName }}", "{{ method.Func.Name }}") }

                          override predicate hasTaintFlow(FunctionInput inp, FunctionOutput outp) {
                            inp.{{ method.CodeQL.Pointers.Inp.Placeholder }} and outp.{{ method.CodeQL.Pointers.Outp.Placeholder }}
                          }
                        }
                    </code>
                </div>
            </div>
        </div>
        <!-- methods on interfaces -->
        <div v-for="itMeth in source.InterfaceMethods" class="row">
            <div class="col-md-6" v-bind:class="{ isNotUsed: !itMeth.CodeQL.IsEnabled }">
                <div class="codebox-source border-warning">
                    <div class="type-indication text-warning">INTERFACE</div>
                    <!-- Rectangular switch -->
                    <label class="switch">
                        <input type="checkbox" v-model="itMeth.CodeQL.IsEnabled" @change="onChangeIsEnabled($event, itMeth.Func.Signature)">
                        <span class="slider bg-warning"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !itMeth.CodeQL.IsEnabled }" @click.stop.prevent="copyTestingCode($event)" :for="cc('code',itMeth.ID)">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in itMeth.Docs">// {{ comment }}</div>
                        </span>
                        <table class="table-responsive table-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                              <defs>
                                <marker :id="cc('arrowhead',itMeth.ID)" viewBox="0 0 10 10" refX="3" refY="5"
                                    markerWidth="6" markerHeight="6" orient="auto">
                                  <path d="M 0 0 L 10 5 L 0 10 z" />
                                </marker>
                              </defs>
                              <g fill="none" stroke="black" stroke-width="2" :marker-end="'url(#arrowhead-'+itMeth.ID+')'" :id="cc(itMeth.ID,'arrows')">
                              </g>
                            </svg>
                            <tbody>
                                <tr :id="cc(itMeth.ID)">
                                    <td></td>
                                    <td class="intmet-type" :id="cc(itMeth.ID,'bl',0)" v-bind:class="{ 'selected-inp': isCheckedInp(0, itMeth), 'selected-outp': isCheckedOutp(0, itMeth) }">
                                        (<b>{{itMeth.Receiver.TypeName}}</b>)
                                    </td>
                                    <td>func <b>{{ itMeth.Func.Name }}</b>{{itMeth.Func.Parameters == null ? "( )" : "(" }}</td>
                                    <td v-for="(funParameter, index) in itMeth.Func.Parameters" :id="cc(itMeth.ID,'bl',index+1)" class="intmet-type" v-bind:class="{ 'selected-inp': isCheckedInp(index+1, itMeth), 'selected-outp': isCheckedOutp(index+1, itMeth) }">
                                        {{funParameter.VarName + " "}}<b>{{funParameter.TypeString}}</b>
                                        {{index < itMeth.Func.Parameters.length - 1 ? ", " : "" }}{{index == itMeth.Func.Parameters.length - 1 ?")":""}}
                                    </td>
                                    <td v-for="(funResult, index) in itMeth.Func.Results" :id="cc(itMeth.ID,'bl',index+1+len(itMeth.Func.Parameters))" class="intmet-type" v-bind:class="{ 'selected-inp': isCheckedInp(index+1+len(itMeth.Func.Parameters), itMeth), 'selected-outp': isCheckedOutp(index+1+len(itMeth.Func.Parameters), itMeth) }">
                                        {{index == 0 ? "(" : "" }}{{funResult.VarName + " "}}<b>{{funResult.TypeString}}</b>
                                        {{index < itMeth.Func.Results.length - 1 ? ", " : "" }}</td>
                                    <td>)</td>
                                </tr>
                                <!--checkboxes for inp -->
                                <tr>
                                    <td>FROM:</td>
                                    <template v-for="(blockElemVal, index) in itMeth.CodeQL.Blocks[0].Inp">
                                        <template v-if="index == 1 ">
                                            </td><td>
                                        </template>
                                        <td class="intmet-type">
                                            <div class="form-check form-check-inline col">
                                                <input class="form-check-input" type="checkbox" :name="cc('checkbox',itMeth.ID,'inp')" @change="onChangeBlock($event, itMeth)" :disabled="!itMeth.CodeQL.IsEnabled" v-model="itMeth.CodeQL.Blocks[0].Inp[index]">
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                                <!--checkboxes for outp -->
                                <tr>
                                    <td>INTO:</td>
                                    <template v-for="(blockElemVal, index) in itMeth.CodeQL.Blocks[0].Outp">
                                        <template v-if="index == 1 ">
                                            </td><td>
                                        </template>
                                        <td class="intmet-type">
                                            <div class="form-check form-check-inline col">
                                                <input class="form-check-input" type="checkbox" :name="cc('checkbox',itMeth.ID,'outp')" @change="onChangeBlock($event, itMeth)" :disabled="!itMeth.CodeQL.IsEnabled" v-model="itMeth.CodeQL.Blocks[0].Outp[index]">
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="codebox-generated border-warning" v-bind:class="{ hidden: !itMeth.CodeQL.IsEnabled }">
                    <code :id="cc('code',itMeth.ID)">
                        private class {{ itMeth.ClassName }} extends TaintTracking::FunctionModel, Method {
                          // signature: {{itMeth.Func.Signature}}
                          {{ itMeth.ClassName }}() {
                            this.implements("{{ source.PkgPath }}", "{{ itMeth.Receiver.TypeName }}", "{{ itMeth.Func.Name }}")
                          }

                          override predicate hasTaintFlow(FunctionInput inp, FunctionOutput outp) {
                            inp.{{ itMeth.CodeQL.Pointers.Inp.Placeholder }} and outp.{{ itMeth.CodeQL.Pointers.Outp.Placeholder }}
                          }
                        }
                    </code>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">


    function cc(...elems) {
      return elems.join("-")
    }
    function newEdge(parentID, id) {
      let path = document.createElementNS("http://www.w3.org/2000/svg", "path");
      path.setAttribute("id", id);
      let parentNode = document.getElementById(parentID);
      parentNode.appendChild(path)
    }
    function remChildren(parentID) {
      const myNode = document.getElementById(parentID);
      while (myNode.lastElementChild) {
        myNode.removeChild(myNode.lastElementChild);
      }
    }

    function drawAnArrow(idFrom, idInto, idArrowLeft, idArrowRight){
      console.log(idFrom, idInto, idArrowLeft, idArrowRight);

      if (idFrom == "" || idInto == "") {
          return
      }
      var divFrom       = document.getElementById(idFrom);
      var divInto       = document.getElementById(idInto);
      var arrowLeft  = document.getElementById(idArrowLeft);
      var arrowRight = document.getElementById(idArrowRight);

      if (divFrom == null || divInto == null) {
        return
      }
      let rectFrom = divFrom.getBoundingClientRect();
      let rectInto = divInto.getBoundingClientRect();

      var drawConnector = function() {
        var posnALeft = {
          x: divFrom.offsetLeft - 8,
          y: divFrom.offsetTop  + divFrom.offsetHeight / 2
        };
        var posnBLeft = {
          x: divInto.offsetLeft - 8,
          y: divInto.offsetTop  + divInto.offsetHeight / 2
        };

        console.log(posnALeft);
        console.log(posnBLeft);

        var posnFrom = {
          x: rectFrom.right - rectFrom.width/2,
          y: rectFrom.bottom - rectFrom.height
        };
        var posnInto = {
          x: rectInto.right - rectInto.width/2,
          y: rectInto.bottom - rectInto.height
        };
        console.log(posnFrom);
        console.log(posnInto);

        let horizOffset = 0;
        if (divInto.offsetLeft > divFrom.offsetLeft) {
          horizOffset = divInto.offsetLeft - divFrom.offsetLeft
        } else {
          horizOffset = divFrom.offsetLeft - divInto.offsetLeft
        }

        horizOffset = horizOffset + rectFrom.width + rectInto.width

        var dStrLeft =
            "M" +
            (divFrom.offsetLeft + rectFrom.width/2) + "," + (divInto.offsetParent.offsetHeight+7) + " " +
            "C "+
             (posnALeft.x + rectInto.width/2) + "," + (divInto.offsetParent.offsetHeight+7) + " " +
             (Math.abs(horizOffset)) + "," + (divFrom.offsetParent.offsetHeight - 60) + " " +
             (divInto.offsetLeft + rectInto.width/2 ) + "," + (divInto.offsetParent.offsetHeight) + " "
        arrowLeft.setAttribute("d", dStrLeft);
      };

      drawConnector();
    }


    function selectText(containerid) {
        if (document.selection) { // IE
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
        }
    }
    var srcapp = new Vue({
        el: '#cb-source',
        data: {
            source: null
        },
        created() {
            self = this;
            fetch('/api/source')
                .then(response => response.json())
                .then(json => {
                    this.source = json;
                })
        },
        updated() {
            // Draw arrows:
            this.$data.source.Funcs.forEach(element => this.drawAllArrows(element));
            this.$data.source.TypeMethods.forEach(element => this.drawAllArrows(element));
            this.$data.source.InterfaceMethods.forEach(element => this.drawAllArrows(element));
        },
        methods: {
            drawAllArrows: function(fn){
                // Remove any existing arrows:
                let parentID = cc(fn.ID,'arrows');
                remChildren(parentID);

                let block = fn.CodeQL.Blocks[0];
                block.Inp.forEach(function (itemInp, indexInp) {

                  block.Outp.forEach(function (itemOutp, indexOutp) {
                  if (!itemInp || !itemOutp) {
                    return
                  }
                  console.log(itemOutp, indexOutp);
                  console.log(itemInp, indexInp);

                  let leftArrowID = cc(fn.ID,"arrow","left","from",indexInp,"to",indexOutp);
                  let rigthArrowID = cc(fn.ID,"arrow","right","from",indexInp,"to",indexOutp);
                  newEdge(parentID,leftArrowID);
                  newEdge(parentID,rigthArrowID);

                  let idFrom = cc(fn.ID,"bl",indexInp)
                  let idInto = cc(fn.ID,"bl",indexOutp)

                  drawAnArrow(idFrom, idInto, leftArrowID, rigthArrowID);
                    
                  });
                });
            },
            cc: function (...elems) {
              return elems.join("-")
            },
            len: function (elem) {
              if (elem == null) {return 0}
                return elem.length
            },
            isCheckedInp: function (i, func) {
              return func.CodeQL.Blocks[0].Inp[i] == true
            },
            isCheckedOutp: function (i, func) {
              return func.CodeQL.Blocks[0].Outp[i] == true
            },
            copyTestingCode(event) {
                var radioButton = event.target;
                var targetIDInView = radioButton.getAttribute("for");

                selectText(targetIDInView)

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Testing code was copied ' + msg);
                } catch (err) {
                    alert('Oops, unable to copy');
                }

            },
            onChangeIsEnabled(event, signature) {
                var checkbox = event.target;

                console.log(checkbox.checked);
                console.log(signature);

                let payload = {
                    "Signature":signature,
                    "Enabled":checkbox.checked,
                }
                console.log(payload);

                fetch('/api/disable', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(payload),
                })
                .catch((error) => {
                  console.error('Error:', error);
                });
            },
            marshal(obj){
                return JSON.stringify(obj)
            },
            onChangeBlock(event, fn) {
                var checkbox = event.target;

                {
                    let signature = fn.Signature || fn.Func.Signature;
                    
                    // Draw arrow:
                    this.drawAllArrows(fn);
                    
                    let payload = {
                        "Blocks":fn.CodeQL.Blocks,
                        "Signature":signature,
                        "Pointers":fn.CodeQL.Pointers,
                    }
                    console.log(payload);
                    fetch('/api/pointers', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                      },
                      body: JSON.stringify(payload),
                    })
                    .catch((error) => {
                      console.error('Error:', error);
                    });
                }
            },
        }
    })
    Vue.component('func-item', {
        props: ['func'],
        template: `
        
        <span v-for="comment in func.Docs">
            // {{ comment }}<br>
        </span>

        `
    })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>