<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="static/vue-dev.js"></script>
    <title>CodeBox - CodeQL GoLang</title>
    <style type="text/css">
    .func-type, .method-type, .intmet-type {
        white-space: nowrap !important;
        float: none !important;
    }

    .selected-inp {
        color: blue;
        font-weight: bold;
    }

    .selected-outp {
        border-radius: 3px;
        background: red;
    }

    input[type=radio] {
        width: 30px;
        height: 30px;
    }

    code {
        white-space: pre-wrap;
        font-size: 12px;
    }

    .com {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 15px;
        line-height: 1.42857143;
        white-space: pre;
        word-break: normal;
        box-sizing: border-box;
        color: #006600;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .isNotUsed > * {
        color: #bdc3c7 !important;
        background-color: #ecf0f1 !important;
        border-color: #ecf0f1 !important;
    }

    .hidden {
        display: none;
    }

    .codebox-source,
    .codebox-generated {
        margin-top: 10px;
        padding: 20px;
        border: 1px solid;
        -moz-outline-radius: 10px;
        -webkit-outline-radius: 10px;
    }

    .copy-btn {
        width: 60px;
        height: 34px;
        font-size: 14px;
        padding: 0px;
    }

    .content-checkbox {
        display: grid;
        justify-content: center;
    }

    .move-left {
        width: auto;
        box-shadow: none;
    }

    .type-indication {
        position: absolute;
        right: 23px;
        top: 1em;
        font-weight: bolder;
        font-style: initial;
        font-size: 0.7em;
    }
    </style>
</head>

<body>
    <div class="container-fluid" id="cb-source">
        <!-- Content here -->
        <h4>Package <b>{{ source.FEName }}</b></h4>

        <!--functions -->
        <div v-for="func in source.Funcs" class="row">
            <div class="col-md-6" v-bind:class="{ isNotUsed: !func.CodeQL.IsUse }">
                <div class="codebox-source border-success">
                    <div class="type-indication text-success">FUNCTION</div>
                    <!-- Rectangular switch -->
                    <label class="switch">
                        <input type="checkbox" v-model="func.CodeQL.IsUse">
                        <span class="slider bg-success"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !func.CodeQL.IsUse }" @click.stop.prevent="copyTestingCode($event)" :for="'code-func-'+func.Name">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in func.Docs">// {{ comment }}</div>
                        </span>
                        <table class="table-responsive table-sm">
                            <tbody>
                                <tr :id="'func-'+func.Name">
                                    <th scope="row">func {{ func.Name }}(</th>
                                    <td v-for="(funIn, index) in func.In" :id="'func-'+func.Name+'-in-'+index" class="func-type">
                                        {{funIn.VarName}} {{funIn.IsPtr?"*":""}}
                                        <b>{{funIn.TypeName}}</b>
                                        {{index < func.In.length - 1 ? ", " : "" }} </td> <th>) (</th>
                                    <td v-for="(funOut, index) in func.Out" :id="'func-'+func.Name+'-out-'+index" class="func-type">
                                        {{funOut.VarName}} {{funOut.IsPtr?"*":""}}
                                        <b>{{ funOut.TypeName }}</b>
                                        {{index < func.Out.length - 1 ? ", " : "" }} </td> <th>)</th>
                                </tr>
                                <!--checkboxes for inp -->
                                <tr>
                                    <td>FROM:</td>
                                    <td v-for="(funIn, index) in func.In" class="func-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-func-'+func.Name+'-inp'" :value="funIn.Placeholder.Val" :parent="'func-'+func.Name" @change="onChangeInp($event, func)" :colorfor="'func-'+func.Name+'-in-'+index">
                                            <label class="form-check-label" :for="'func-'+func.Name+'-in-'+index"></label>
                                        </div>
                                    </td>
                                    <td> </td>
                                    <td v-for="(funOut, index) in func.Out" class="func-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-func-'+func.Name+'-inp'" :value="funOut.Placeholder.Val" :parent="'func-'+func.Name" @change="onChangeInp($event, func)" :colorfor="'func-'+func.Name+'-out-'+index">
                                            <label class="form-check-label" :for="'func-'+func.Name+'-out-'+index"></label>
                                        </div>
                                    </td>
                                    <td> </td>
                                </tr>
                                <!--checkboxes for outp -->
                                <tr>
                                    <td>INTO:</td>
                                    <td v-for="(funIn, index) in func.In" class="func-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-func-'+func.Name+'-outp'" :value="funIn.Placeholder.Val" :parent="'func-'+func.Name" @change="onChangeOutp($event, func)" :colorfor="'func-'+func.Name+'-in-'+index">
                                            <label class="form-check-label" :for="'func-'+func.Name+'-in-'+index"></label>
                                        </div>
                                    </td>
                                    <td> </td>
                                    <td v-for="(funOut, index) in func.Out" class="func-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-func-'+func.Name+'-outp'" :value="funOut.Placeholder.Val" :parent="'func-'+func.Name" @change="onChangeOutp($event, func)" :colorfor="'func-'+func.Name+'-out-'+index">
                                            <label class="form-check-label" :for="'func-'+func.Name+'-out-'+index"></label>
                                        </div>
                                    </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="codebox-generated border-success" v-bind:class="{ hidden: !func.CodeQL.IsUse }">
                    <code :id="'code-func-'+func.Name">
                        private class {{ func.FEName }} extends TaintTracking::FunctionModel {
                          {{ func.FEName }}() { hasQualifiedName("{{ source.PkgPath }}", "{{ func.Name }}") }

                          override predicate hasTaintFlow(FunctionInput inp, FunctionOutput outp) {
                            inp.{{ func.CodeQL.Inp }} and outp.{{ func.CodeQL.Outp }}
                          }
                        }
                    </code>
                </div>
            </div>
        </div>
        <!-- methods -->
        <div v-for="method in source.Methods" class="row">
            <div class="col-md-6" v-bind:class="{ isNotUsed: !method.CodeQL.IsUse }">
                <div class="codebox-source border-primary">
                    <div class="type-indication text-primary">METHOD</div>
                    <!-- Rectangular switch -->
                    <label class="switch">
                        <input type="checkbox" v-model="method.CodeQL.IsUse">
                        <span class="slider bg-primary"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !method.CodeQL.IsUse }" @click.stop.prevent="copyTestingCode($event)" :for="'code-method-'+method.FEName">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in method.Docs">// {{ comment }}</div>
                        </span>
                        <table class="table-responsive table-sm">
                            <tbody>
                                <tr :id="'method-'+method.FEName">
                                    <td></td>
                                    <td class="method-type" :id="'method-'+method.FEName+'-receiver'">
                                        ({{method.IsOnPtr?"*":""}}{{method.Receiver.TypeName}})
                                    </td>
                                    <td>func {{ method.Func.Name }}(</td>
                                    <td v-for="(funIn, index) in method.Func.In" :id="'method-'+method.FEName+'-in-'+index" class="method-type">
                                        {{funIn.VarName}} {{funIn.IsPtr?"*":""}}
                                        <b>{{funIn.TypeName}}</b>
                                        {{index < method.Func.In.length - 1 ? ", " : "" }} </td>
                                    <td>) (</td>
                                    <td v-for="(funOut, index) in method.Func.Out" :id="'method-'+method.FEName+'-out-'+index" class="method-type">
                                        {{funOut.VarName}} {{funOut.IsPtr?"*":""}}
                                        <b>{{ funOut.TypeName }}</b>
                                        {{index < method.Func.Out.length - 1 ? ", " : "" }} </td>
                                    <td>)</td>
                                </tr>
                                <!--checkboxes for inp -->
                                <tr>
                                    <td>FROM:</td>
                                    <td class="method-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-method-'+method.FEName+'-inp'" :value="method.Receiver.Placeholder.Val" :parent="'method-'+method.FEName" @change="onChangeInp($event, method)" :colorfor="'method-'+method.FEName+'-receiver'">
                                            <label class="form-check-label" :for="'method-'+method.FEName+'-receiver'"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funIn, index) in method.Func.In" class="method-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-method-'+method.FEName+'-inp'" :value="funIn.Placeholder.Val" :parent="'method-'+method.FEName" @change="onChangeInp($event, method)" :colorfor="'method-'+method.FEName+'-in-'+index">
                                            <label class="form-check-label" :for="'method-'+method.FEName+'-in-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funOut, index) in method.Func.Out" class="method-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-method-'+method.FEName+'-inp'" :value="funOut.Placeholder.Val" :parent="'method-'+method.FEName" @change="onChangeInp($event, method)" :colorfor="'method-'+method.FEName+'-out-'+index">
                                            <label class="form-check-label" :for="'method-'+method.FEName+'-out-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <!--checkboxes for outp -->
                                <tr>
                                    <td>INTO:</td>
                                    <td class="method-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-method-'+method.FEName+'-outp'" :value="method.Receiver.Placeholder.Val" :parent="'method-'+method.FEName" @change="onChangeOutp($event, method)" :colorfor="'method-'+method.FEName+'-receiver'">
                                            <label class="form-check-label" :for="'method-'+method.FEName+'-receiver'"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funIn, index) in method.Func.In" class="method-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-method-'+method.FEName+'-outp'" :value="funIn.Placeholder.Val" :parent="'method-'+method.FEName" @change="onChangeOutp($event, method)" :colorfor="'method-'+method.FEName+'-in-'+index">
                                            <label class="form-check-label" :for="'method-'+method.FEName+'-in-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funOut, index) in method.Func.Out" class="method-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-method-'+method.FEName+'-outp'" :value="funOut.Placeholder.Val" :parent="'method-'+method.FEName" @change="onChangeOutp($event, method)" :colorfor="'method-'+method.FEName+'-out-'+index">
                                            <label class="form-check-label" :for="'method-'+method.FEName+'-out-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="codebox-generated border-primary" v-bind:class="{ hidden: !method.CodeQL.IsUse }">
                    <code :id="'code-method-'+method.FEName">
                        private class {{ method.ClassName }} extends TaintTracking::FunctionModel, Method {
                          {{ method.ClassName }}() { this.(Method).hasQualifiedName("{{ source.PkgPath }}", "{{ method.Receiver.TypeName }}", "{{ method.Func.Name }}") }

                          override predicate hasTaintFlow(FunctionInput inp, FunctionOutput outp) {
                            inp.{{ method.CodeQL.Inp }} and outp.{{ method.CodeQL.Outp }}
                          }
                        }
                    </code>
                </div>
            </div>
        </div>
        <!-- interface and their methods -->
        <div v-for="interface in source.Interfaces">
        <div v-for="itMeth in interface.Methods" class="row">
            <div class="col-md-6" v-bind:class="{ isNotUsed: !itMeth.CodeQL.IsUse }">
                <div class="codebox-source border-warning">
                    <div class="type-indication text-warning">INTERFACE</div>
                    <!-- Rectangular switch -->
                    <label class="switch">
                        <input type="checkbox" v-model="itMeth.CodeQL.IsUse">
                        <span class="slider bg-warning"></span>
                    </label>
                    <button type="button" class="btn btn-primary text-white copy-btn ml-auto" v-bind:class="{ hidden: !itMeth.CodeQL.IsUse }" @click.stop.prevent="copyTestingCode($event)" :for="'code-itMeth-'+itMeth.FEName">COPY</button>
                    <div class="col-md-12">
                        <span class="com">
                            <div v-for="comment in itMeth.Docs">// {{ comment }}</div>
                        </span>
                        <table class="table-responsive table-sm">
                            <tbody>
                                <tr :id="'itMeth-'+itMeth.FEName">
                                    <td></td>
                                    <td class="intmet-type" :id="'itMeth-'+itMeth.FEName+'-receiver'">
                                        (nil)(<b>{{itMeth.Receiver.TypeName}}</b>)
                                    </td>
                                    <td>func <b>{{ itMeth.Func.Name }}</b>(</td>
                                    <td v-for="(funIn, index) in itMeth.Func.In" :id="'itMeth-'+itMeth.FEName+'-in-'+index" class="intmet-type">
                                        {{funIn.VarName}} {{funIn.IsPtr?"*":""}}
                                        <b>{{funIn.TypeName}}</b>
                                        {{index < itMeth.Func.In.length - 1 ? ", " : "" }} </td>
                                    <td>) (</td>
                                    <td v-for="(funOut, index) in itMeth.Func.Out" :id="'itMeth-'+itMeth.FEName+'-out-'+index" class="intmet-type">
                                        {{funOut.VarName}} {{funOut.IsPtr?"*":""}}
                                        <b>{{ funOut.TypeName }}</b>
                                        {{index < itMeth.Func.Out.length - 1 ? ", " : "" }} </td>
                                    <td>)</td>
                                </tr>
                                <!--checkboxes for inp -->
                                <tr>
                                    <td>FROM:</td>
                                    <td class="intmet-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-itMeth-'+itMeth.FEName+'-inp'" :value="itMeth.Receiver.Placeholder.Val" :parent="'itMeth-'+itMeth.FEName" @change="onChangeInp($event, itMeth)" :colorfor="'itMeth-'+itMeth.FEName+'-receiver'">
                                            <label class="form-check-label" :for="'itMeth-'+itMeth.FEName+'-receiver'"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funIn, index) in itMeth.Func.In" class="intmet-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-itMeth-'+itMeth.FEName+'-inp'" :value="funIn.Placeholder.Val" :parent="'itMeth-'+itMeth.FEName" @change="onChangeInp($event, itMeth)" :colorfor="'itMeth-'+itMeth.FEName+'-in-'+index">
                                            <label class="form-check-label" :for="'itMeth-'+itMeth.FEName+'-in-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funOut, index) in itMeth.Func.Out" class="intmet-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-itMeth-'+itMeth.FEName+'-inp'" :value="funOut.Placeholder.Val" :parent="'itMeth-'+itMeth.FEName" @change="onChangeInp($event, itMeth)" :colorfor="'itMeth-'+itMeth.FEName+'-out-'+index">
                                            <label class="form-check-label" :for="'itMeth-'+itMeth.FEName+'-out-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <!--checkboxes for outp -->
                                <tr>
                                    <td>INTO:</td>
                                    <td class="intmet-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-itMeth-'+itMeth.FEName+'-outp'" :value="itMeth.Receiver.Placeholder.Val" :parent="'itMeth-'+itMeth.FEName" @change="onChangeOutp($event, itMeth)" :colorfor="'itMeth-'+itMeth.FEName+'-receiver'">
                                            <label class="form-check-label" :for="'itMeth-'+itMeth.FEName+'-receiver'"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funIn, index) in itMeth.Func.In" class="intmet-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-itMeth-'+itMeth.FEName+'-outp'" :value="funIn.Placeholder.Val" :parent="'itMeth-'+itMeth.FEName" @change="onChangeOutp($event, itMeth)" :colorfor="'itMeth-'+itMeth.FEName+'-in-'+index">
                                            <label class="form-check-label" :for="'itMeth-'+itMeth.FEName+'-in-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td v-for="(funOut, index) in itMeth.Func.Out" class="intmet-type">
                                        <div class="form-check form-check-inline col">
                                            <input class="form-check-input" type="radio" :name="'radio-itMeth-'+itMeth.FEName+'-outp'" :value="funOut.Placeholder.Val" :parent="'itMeth-'+itMeth.FEName" @change="onChangeOutp($event, itMeth)" :colorfor="'itMeth-'+itMeth.FEName+'-out-'+index">
                                            <label class="form-check-label" :for="'itMeth-'+itMeth.FEName+'-out-'+index"></label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="codebox-generated border-warning" v-bind:class="{ hidden: !itMeth.CodeQL.IsUse }">
                    <code :id="'code-itMeth-'+itMeth.FEName">
                        private class {{ itMeth.ClassName }} extends TaintTracking::FunctionModel, Method {
                          {{ itMeth.ClassName }}() {
                            this.implements("{{ source.PkgPath }}", "{{ itMeth.Receiver.TypeName }}", "{{ itMeth.Func.Name }}")
                          }

                          override predicate hasTaintFlow(FunctionInput inp, FunctionOutput outp) {
                            inp.{{ itMeth.CodeQL.Inp }} and outp.{{ itMeth.CodeQL.Outp }}
                          }
                        }
                    </code>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
    function selectText(containerid) {
        if (document.selection) { // IE
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
        }
    }
    var srcapp = new Vue({
        el: '#cb-source',
        data: {
            source: null
        },
        mounted() {
            self = this;
            fetch('/api/source')
                .then(response => response.json())
                .then(json => {
                    this.source = json;
                })
        },
        methods: {
            copyTestingCode(event) {
                var radioButton = event.target;
                var targetIDInView = radioButton.getAttribute("for");

                selectText(targetIDInView)

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Testing code was copied ' + msg);
                } catch (err) {
                    alert('Oops, unable to copy');
                }

            },
            onChangeInp(event, fn) {
                var radioButton = event.target;

                var parentID = radioButton.getAttribute("parent");
                var targetIDInView = radioButton.getAttribute("colorfor");
                var parent = document.getElementById(parentID);

                var children = document.querySelectorAll('#' + parentID + ' > .selected-inp')
                children.forEach(function(elem) {
                    elem.classList.remove("selected-inp");
                });

                fn.CodeQL.Inp = radioButton.value
                console.log(parentID)
                console.log(targetIDInView)

                var element = document.getElementById(targetIDInView);
                element.classList.add("selected-inp");
            },
            onChangeOutp(event, fn) {
                var radioButton = event.target;

                var parentID = radioButton.getAttribute("parent");
                var targetIDInView = radioButton.getAttribute("colorfor");
                var parent = document.getElementById(parentID);

                var children = document.querySelectorAll('#' + parentID + ' > .selected-outp')
                children.forEach(function(elem) {
                    elem.classList.remove("selected-outp");
                });

                fn.CodeQL.Outp = radioButton.value
                console.log(parentID)
                console.log(targetIDInView)

                var element = document.getElementById(targetIDInView);
                element.classList.add("selected-outp");
            }
        }
    })
    Vue.component('func-item', {
        props: ['func'],
        template: `
        
        <span v-for="comment in func.Docs">
            // {{ comment }}<br>
        </span>

        `
    })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>